name: Build

on:
  push:
    branches: [master]
    paths:
      - "src/**"
      - "package.json"
      - "tsconfig.json"
  pull_request:
    branches: [master]
    paths:
      - "src/**"
      - "package.json"
      - "tsconfig.json"
  workflow_dispatch:

jobs:
  build:
    name: Build source code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - name: Install dependencies
        run: yarn
      - name: Build source code
        run: yarn build
