name: Lint

on:
  push:
    branches: [master]
    paths:
      - "src/**"
      - "biome.json"
      - "tsconfig.json"
  pull_request:
    branches: [master]
    paths:
      - "src/**"
      - "biome.json"
      - "tsconfig.json"

jobs:
  lint:
    name: Run linter
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - run: yarn
      - run: yarn lint
